

body {
    background: lightgray;
}

/* NAV BAR FORMATTING */
/* format navbar */
nav{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, rgb(6, 189, 173), white);
    /* position: fixed; */
    z-index:99;
  }
  
  /* format page name */
  .pg-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 33pt;
    font-weight: bold;
    line-height: 0px;
    float: left;
    padding: 20pt;
  }
  
  /* move dropdown and links to the right */
  .links{
    float: right;
  }
  
  /* turn links and dropdown into horizontal list */
  nav ul li{
    float: left;
    list-style: none;
    position: relative;
  }
  
  /* format link font and padding */
  nav ul li a{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 12pt;
    padding: 20px 15px;
  }
  
  /* hide dropdown options under plots */
  nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
  }
  
  /* display dropdown options on hover */
  nav ul li:hover ul{
    display: block;
  }
  
  nav ul li ul li{
    width: 180px;
  }
  
  nav ul li ul li a{
    padding: 5px 14px;
  }
  /* NAV BAR END */

.container{
    background-color: white;
    width: 1100px;
    box-shadow: 5px 5px #888888;
}

table{ 
    text-align: left;
    z-index:99;
}

.bottom{
    background-image: linear-gradient(-90deg, rgb(6, 189, 173), white) ;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
    margin-bottom: 0px;
}

.section-headers{
    color:  rgb(6, 189, 173);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 1%;
    /* position: fixed; */
}