nav{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, rgb(6, 189, 173), white);
}

nav p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30pt;
    font-weight: bold;
    line-height: 0px;
    float: left;
    /* padding: 0px 5px; */
}

nav ul{
    float: right;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 12pt;
    padding: 24px 15px;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li{
    width: 180px;
}
nav ul li ul li a{
    padding: 5px 14px;
}

.header {
    background-image: linear-gradient(to right, rgb(6, 189, 173), white);
    /* background-image: linear-gradient(to bottom right,rgb(6, 189, 173), white); */
    /* background-color: white; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.pg-name {
    /* background-color: rgb(6, 189, 173); */
    color: white;
    font-size: 30pt;
    margin: 40pt;
}

.navbar{
    float: right;
    margin-right: 15pt;
}

.links{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #888888;
    margin-left: 15pt;
}
.comparison-link{
    margin-left: 15pt;
}

.data-link{
    margin-left: 15pt;
}


body {
    background: lightgray;
}
.section-headers{
    color:  rgb(6, 189, 173);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 15px;
}

.summary{
    background-color: white;
    width: 88%;
    height: 390px;
    margin-left: 50px;
    margin bottom: 15px;
    box-shadow: 5px 5px #888888;
    margin-top 12pt;
}

/* .summary{
    background-color: white;
    width: 750px;
    height: 500px;
    margin-left: 50px;
    margin-right: 10px;
    margin bottom: 60px;
    box-shadow: 5px 5px #888888;
} */


.visualization{
    background-color: white;
    width: 88%;
    height: 350px;
    margin-right: 50px;
    box-shadow: 5px 5px #888888;
    margin-top: 12pt;
}

/* .visualization{
    background-color: white;
    width: 350px;
    height: 450px;
    margin-right: 50px;
    margin-bottom: 60px;
    box-shadow: 5px 5px #888888;
} */

#vis-temp{
    width: 45%;
    margin-left: 5%;
    
}

#vis-hum{
    width: 45%;
    margin right: 5%;
}

#vis-cloud{
    width: 45%;
    margin-left: 5%;
}

#vis-wind{
    width: 45%;
    margin-right: 3%;
}

.vis-hr{
    width: 90%;
}

.sum-hr{
    width: 95%;
}

#sum-temp{
    float: left;
    width: 40%;
}

.paragraph{
    color: gray;
    margin: 12pt;
    text-align: justify;  
}

.bottom{
    background-image: linear-gradient(-90deg, rgb(6, 189, 173), white) ;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
    margin-bottom: 0px;
}