body {
    background: lightgray;
}

/* NAV BAR FORMATTING */
/* format navbar */
nav{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, rgb(6, 189, 173), white);
  }
  
  /* format page name */
  .pg-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 35pt;
    font-weight: bold;
    line-height: 0px;
    float: left;
    padding: 20pt;
  }
  
  /* move dropdown and links to the right */
  .links{
    float: right;
  }
  
  /* turn links and dropdown into horizontal list */
  nav ul li{
    float: left;
    list-style: none;
    position: relative;
  }
  
  /* format link font and padding */
  nav ul li a{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 12pt;
    padding: 20px 15px;
  }
  
  /* hide dropdown options under plots */
  nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    z-index:99;
  }
  
  /* display dropdown options on hover */
  nav ul li:hover ul{
    display: block;
  }
  
  nav ul li ul li{
    width: 180px;
  }
  
  nav ul li ul li a{
    padding: 5px 14px;
  }
  /* NAV BAR END */

  footer{
    background-image: linear-gradient(-90deg, rgb(6, 189, 173), white) ;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0pt;
    width: 100%;
}

.copyright{
    padding-top: 14pt;
}

.section-headers{
    color:  rgb(6, 189, 173);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 15pt;
    padding-left: 20pt;
}

.summary{
    background-color: white;
    width: 100%;
    margin-top: 12pt;
    box-shadow: 5px 5px #888888;
    /* column-gap: 5%;
    margin-left: 50px;
    margin-right: 40%;
    margin bottom: 15px; */
}


.sum-hr{
        width: 95%;
    }
    
.paragraph{
    color: gray;
    margin: 14pt;
    text-align: justify; 
    padding-bottom: 12pt;
}

.visualizations{
    background-color: white;
    width:  100%;
    /* height: 350px; */
    /* margin-right: 50px; */
    box-shadow: 5px 5px #888888;
    margin-top: 12pt;
    padding-bottom: 12pt;
}

.vis-hr{
    width: 90%;
}
#vis-temp{
    width: 44%;
    margin-left: 5%;    
}

#vis-temp:hover{
    transform: scale(1.5);
}

#vis-hum{
    width: 44%;
    margin right: 5%;  
}

#vis-hum:hover{
    transform: scale(1.5);
}
#vis-cloud{
    width: 44%;
    margin-left: 5%;
    margin-bottom: 20pt;
}

#vis-cloud:hover{
    transform: scale(1.5);
}

#vis-wind{
    width: 44%;
    margin-right: 3%;
    margin-bottom: 20pt;
}

#vis-wind:hover{
    transform: scale(1.5);
}

#plot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}